<h3>Cadastrar Funcionário</h3>
<form>

    <div class="form-group required">
        <label for="name">Nome</label>
        <input type="text" id="name" class="form-control">
    </div>
    <div class="form-group required">
        <label class="text-center">Endereço</label>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label>CEP</label>
                    <input type="text" id="cep" class="form-control" name="cep">
                </div>
            </div>
            <div class="col">
                <label>Rua</label>
                <input type="text" id="rua" class="form-control" name="rua">
            </div>
            <div class="col">
                <label>Complemento</label>
                <input type="text" id="complemento" class="form-control" name="complemento">
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col">
                <label for="name">Telefone Celular</label>
                <input type="text" id="telefone" class="form-control">
            </div>
            <div class="col">
                <label for="name">Telefone Residencial</label>
                <input type="text" id="telefone1" class="form-control">
            </div>
            <div class="col">
                <label>Função</label>
                <input type="text" id="rua" class="form-control" name="rua">
            </div>
        </div>
    </div>
</form>