<div class="col-md-8 offset-md-2">
    <h3>Cadastrar Profissional</h3>


    <form (ngSubmit)="onSubmit()">

        <div class="form-group required">
            <label for="name">Nome</label>
            <input type="text" id="name" class="form-control" [(ngModel)]="employee.name"
                [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group required">
            <label class="text-center">Endereço</label>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label>CEP</label>
                        <input type="text" id="cep" class="form-control" name="cep" [(ngModel)]="employee.cep"
                            [ngModelOptions]="{standalone: true}">
                    </div>
                </div>
                <div class="col">
                    <label>Rua</label>
                    <input type="text" id="street" class="form-control" name="street" [(ngModel)]="employee.street"
                        [ngModelOptions]="{standalone: true}">
                </div>
                <div class="col">
                    <label>Complemento</label>
                    <input type="text" id="complement" class="form-control" name="complement"
                        [(ngModel)]="employee.complement" [ngModelOptions]="{standalone: true}">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col">
                    <label for="name">Telefone Celular</label>
                    <input type="text" id="phone_number" class="form-control" [(ngModel)]="employee.phone_number"
                        [ngModelOptions]="{standalone: true}">
                </div>
                <div class="col">
                    <label for="name">Telefone Residencial</label>
                    <input type="text" id="home_phone" class="form-control" [(ngModel)]="employee.home_phone"
                        [ngModelOptions]="{standalone: true}" data-inputmask="'mask': '99-9999999'">
                </div>
                <div class="col">
                    <label>Função</label>
                    <input type="text" id="function" class="form-control" name="function"
                        [(ngModel)]="employee.id_function" [ngModelOptions]="{standalone: true}">
                </div>
            </div>
        </div>
        <div class="fomr-group">
            <div class="row">
                <div class="col offset-md-9">
                    <button type="reset" class="btn btn-danger">Limpar</button>&nbsp;
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
            </div>
        </div>
    </form>


    <script>
        $('#home_phone').mask('0000-0000');
    </script>

</div>