<h3>Listagem de Funcionários! </h3>
<script>
    let count = 0;
</script>
<table class="table table-striped">
    <thead>
        <th>#</th>
        <th>Nome</th>
        <th>CEP</th>
        <th colspan="2">Endereço</th>
        <th>Telefone</th>
        <th>Função</th>
    </thead>
    <tbody>
        <tr *ngFor = "let employee of employees; let i = index">
            <td>{{i + 1}}</td>
            <td>{{employee.name}}</td>
            <td>{{employee.cep}}</td>
            <td>{{employee.street}}</td>
            <td>{{ employee.complement}}</td>
            <td>{{employee.phone_number}} | {{employee.home_phone}} </td>
            <td>{{employee.id_function}} </td>
        </tr>
    </tbody>
</table>
