<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">Projeto - CRUD</span>
        <ul class="navbar-nav">
            <li ngbDropdown class="nav-item dropdown">
                <a ngbDropdownToggle class="nav-link dropdown-toggle active" id="navbarDropdownMenuLink"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <fa-icon [icon]="faUser"></fa-icon> Profissionais
                </a>
                <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a routerLink="funcionarios" class="dropdown-item">
                        <fa-icon [icon]="faList"></fa-icon> Listar Profissionais
                    </a>
                    <a routerLink="funcionarios/cadastrar" class="dropdown-item">
                        <fa-icon [icon]="faPlus"></fa-icon> Adicionar Profissional
                    </a>

                </div>
            </li>
            <li ngbDropdown class="nav-item dropdown">
                <a ngbDropdownToggle class="nav-link dropdown-toggle active" id="navbarDropdownMenuLink"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <fa-icon [icon]="faStore"></fa-icon> Estabelecimentos
                </a>
                <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a routerLink="estabelecimentos" class="dropdown-item">
                        <fa-icon [icon]="faList"></fa-icon> Listar Estabelecimentos
                    </a>
                    <a routerLink="estabelecimento/cadastrar" class="dropdown-item">
                        <fa-icon [icon]="faPlus"></fa-icon> Adicionar Estabelecimentos
                    </a>

                </div>
            </li>
            <li ngbDropdown class="nav-item dropdown">
                <a ngbDropdownToggle class="nav-link dropdown-toggle active" id="navbarDropdownMenuLink"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <fa-icon [icon]="faUserTie"></fa-icon> Funções
                </a>
                <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a routerLink="funcoes" class="dropdown-item">
                        <fa-icon [icon]="faList"></fa-icon> Listar Funções
                    </a>
                    <a routerLink="funcoes/cadastrar" class="dropdown-item">
                        <fa-icon [icon]="faPlus"></fa-icon> Adicionar Funções
                    </a>

                </div>
            </li>

            <li class="nav-item">
                <a routerLink="funcionarios-establ" routerLinkActive="active" class="nav-link">
                    <fa-icon [icon]="faExchange"></fa-icon> Relacionar
                </a>
            </li>

        </ul>
    </div>

</nav>
<h1 class="text-center">{{title}}</h1>
<div class="container">
    <router-outlet></router-outlet>
</div>
<footer class="footer">
    <div class="container">
        <span> Todos os direitos reservados @RenanRoseno</span>
    </div>
</footer>