<div class="col-md-8 offset-md-2">
    <h3>Editar Estabelecimento</h3>

    <form (ngSubmit) = "onSubmit()">
        
        <div class="form-group required">
            <div class="row">
                <div class="col">
                    <label for="name">Nome</label>
                    <input type="text" id="name" name="name" class="form-control" [(ngModel)] = "establishment.name" >
                </div>
                <div class="col">
                    <label for="name">Telefone</label>
                    <input type="text" id="phone_number" name ="phone_number" class="form-control" [(ngModel)] = "establishment.phone_number" [textMask]="{mask: phoneMask}">
                </div>
            </div>

        </div>
        <div class="form-group required">
            <label class="text-center">Endereço</label>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label>CEP</label>
                        <input type="text" id="cep" class="form-control" name="cep" [(ngModel)] = "establishment.cep" [textMask]="{mask: cepMask}">
                    </div>
                </div>
                <div class="col">
                    <label>Rua</label>
                    <input type="text" id="street" class="form-control" name="street" [(ngModel)] = "establishment.street">
                </div>
                <div class="col">
                    <label>Complemento</label>
                    <input type="text" id="complement" class="form-control" name="complement" [(ngModel)] = "establishment.complement">
                </div>
            </div>
        </div>
        <div class="fomr-group">
            <div class="row">
                <div class="col offset-md-9">
                    <button type="reset" class="btn btn-danger">Limpar</button>&nbsp;
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
            </div>
        </div>
    </form>


    <script>
        $('#home_phone').mask('0000-0000');
    </script>

</div>